@import "mediaQueries";

.Nav-bar {
  font-size: 1.2rem;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/mclaren.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  margin-top: 5.2rem;
  padding: 0.2rem;
  margin-bottom: 6rem;
  @include responsive(phone) {
    margin: 0rem;
    padding: 0rem;
  }
  .header-text {
    width: 30%;
    @include responsive(phone) {
      display: block;
      margin: 0 auto;
      width: auto;
      text-align: center;
      width: 90%;
    }
    h1 {
      font-size: 3.05rem;
      color: white;
      @include responsive(phone) {
        font-size: 2rem;
      }
    }
    p {
      color: white;
      font-size: 2.5rem;
      @include responsive(phone) {
        font-size: 1.5rem;
      }
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  text-align: justify;
  article {
    padding: 2rem;
  }
  @include responsive(phone) {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.profile {
  width: 30%;
  padding: 1rem;
  border-radius: 30px;
  article {
    width: 90%;
  }
  @include responsive(phone) {
    width: 90%;
  }
}

.project-page {
  h1 {
    padding-top: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .project {
    background-image: linear-gradient(to bottom, orange 1%, beige 50%);
    width: 35%;
    padding: 2rem;
    margin: 2rem;
    @include responsive(tab-land) {
      width: 80%;
    }
    @include responsive(phone) {
      width: 90%;
    }
  }
  .project-buttons {
    margin: 0rem 1rem;
    @include responsive(tab-port) {
      margin: 1rem;
    }
    @include responsive(phone) {
      margin: 0rem;
      margin: 1rem 0rem;
      margin-left: 0.18rem;
    }
  }
  .project-gif {
    width: 100%;
    border-radius: 10px;
  }
}

.icon-buttons {
  margin-right: 0.4rem;
  font-size: 1.6rem;
}
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/p1driveaway.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-text {
  margin: 1rem;
  padding: 1rem 0rem;
  color: white;
  width: 45%;
  @include responsive(tab-land) {
    width: 60%;
  }
  @include responsive(tab-port) {
    width: 85%;
  }
  @include responsive(phone) {
    width: 90%;
    text-align: center;
    padding: 0rem;
  }
}
.contact-hero {
  border-radius: 5px;
  padding: 4rem;
  @include responsive(phone) {
    text-align: center;
    padding: 0rem;
  }
}
.social-link {
  padding: 0.3rem;
  @include responsive(tab-land) {
    padding: 0.5rem;
  }
  @include responsive(tab-port) {
    padding: 0.5rem;
  }
}
.copy-email {
  margin-left: 0.4rem;
  @include responsive(tab-port) {
    margin-top: 0.6rem;
  }

  @include responsive(phone) {
    margin-left: 0;
    margin-top: 0.6rem;
  }
}
.dog-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dog-content {
  padding: 2rem;
}
.card {
  width: 35ch;
  height: 35ch;
  background: grey;
  border-radius: 5px;
  background-image: url("./assets/Qdog.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}
