.hero {
  background-image: url("./assets/mclaren.jpg");
  background-size: 1920px 610px, cover;

  .container {
    padding: 150px 0px;
    .container-text {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      width: 300px;
      padding: 15px;
    }
    h1,
    p {
      color: white;
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  text-align: justify;
  article {
    padding: 2rem;
  }
}
.profile {
  width: 30%;
  padding: 1rem;
  border-radius: 30px;
}

.project-page {
  h1 {
    text-align: center;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .project {
    background-image: linear-gradient(to bottom, orange 1%, beige 50%);
    width: 35%;
    padding: 2rem;
    margin: 2rem;
  }
  .project-gif {
    width: 100%;
  }
}
.contact-hero {
  background-image: url("./assets/p1driveaway.jpg");
  background-size: 1920px 580px, cover;
  background-position: top;
}
